USE [master]
GO
/****** Object:  Database [Okul1]    Script Date: 6.12.2020 14:53:33 ******/
CREATE DATABASE [Okul1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Okul1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\Okul1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Okul1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\Okul1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Okul1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Okul1]
GO
/****** Object:  Table [dbo].[Mudur]    Script Date: 6.12.2020 14:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mudur](
	[mudurid] [int] NOT NULL,
	[Ad] [nvarchar](10) NULL,
	[Soyad] [nvarchar](10) NULL,
	[TC] [nvarchar](11) NULL,
	[Cinsiyet] [text] NULL,
	[Yaş] [nvarchar](2) NULL,
	[Durumu] [text] NULL,
 CONSTRAINT [PK_Mudur] PRIMARY KEY CLUSTERED 
(
	[mudurid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenciler]    Script Date: 6.12.2020 14:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenciler](
	[ogrenciid] [int] NOT NULL,
	[Ad] [nvarchar](10) NULL,
	[Soyad] [nvarchar](10) NULL,
	[TC] [nvarchar](11) NULL,
	[Cinsiyet] [text] NULL,
	[Puan] [nchar](2) NULL,
 CONSTRAINT [PK_Ogrenciler] PRIMARY KEY CLUSTERED 
(
	[ogrenciid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogretmenler]    Script Date: 6.12.2020 14:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogretmenler](
	[ogretmenid] [int] NOT NULL,
	[Ad] [nvarchar](10) NULL,
	[Soyad] [nvarchar](10) NULL,
	[TC] [nvarchar](11) NULL,
	[Cinsiyet] [text] NULL,
	[Yaş] [nvarchar](2) NULL,
	[Durumu] [text] NULL,
	[Dersi] [text] NULL,
 CONSTRAINT [PK_Ogretmenler] PRIMARY KEY CLUSTERED 
(
	[ogretmenid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Okul]    Script Date: 6.12.2020 14:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Okul](
	[Okulid] [int] NOT NULL,
	[Ad] [text] NULL,
	[Bölge] [text] NULL,
	[Mevcut] [nvarchar](50) NULL,
	[ogrenciid] [int] NOT NULL,
 CONSTRAINT [PK_Okul] PRIMARY KEY CLUSTERED 
(
	[Okulid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Okul]  WITH CHECK ADD  CONSTRAINT [FK_Okul_Mudur] FOREIGN KEY([Okulid])
REFERENCES [dbo].[Mudur] ([mudurid])
GO
ALTER TABLE [dbo].[Okul] CHECK CONSTRAINT [FK_Okul_Mudur]
GO
ALTER TABLE [dbo].[Okul]  WITH CHECK ADD  CONSTRAINT [FK_Okul_Ogrenciler] FOREIGN KEY([Okulid])
REFERENCES [dbo].[Ogrenciler] ([ogrenciid])
GO
ALTER TABLE [dbo].[Okul] CHECK CONSTRAINT [FK_Okul_Ogrenciler]
GO
ALTER TABLE [dbo].[Okul]  WITH CHECK ADD  CONSTRAINT [FK_Okul_Ogretmenler] FOREIGN KEY([Okulid])
REFERENCES [dbo].[Ogretmenler] ([ogretmenid])
GO
ALTER TABLE [dbo].[Okul] CHECK CONSTRAINT [FK_Okul_Ogretmenler]
GO
USE [master]
GO
